name: Testing

on:
  push:
    branches:
      - "main"
    paths:
      - "qqmusic_api/**"
      - "tests/**"

  pull_request:

  schedule:
    - cron: "0 6 * * *"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          python-version: "3.10"
      - name: Install the project
        run: uv sync --group testing
      - name: Run tests 3.10
        run: uv run --frozen pytest
